@model Real_Estate_App.Models.Viewing

@{
    ViewData["Title"] = "Viewing";
}

<h1>Viewing</h1>

<h4>Viewing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Properties" asp-action="Viewing" method="post">
            <input type="hidden" asp-for="PropertyID" value="@Model.PropertyID"/>
            <input type="hidden" asp-for="UserID" value="@Model.UserID"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Viewing_TimeDate" class="control-label"></label>
                <input asp-for="Viewing_TimeDate" class="form-control" type="datetime-local"/>
                <span asp-validation-for="Viewing_TimeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book a Viewing" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
