@if (Context.User.IsInRole("Admin"))
{
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin Overview
        </a>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AdminProperties" asp-action="Index">Admin Properties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AdminViewing" asp-action="Index">Admin Viewings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AdminTransactions" asp-action="Index">Admin Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AdminUsersDashboard" asp-action="Index">Admin User Dashboard</a>
            </li>
        </ul>
    </li>
}