@if (Context.User.Identity?.IsAuthenticated == true)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <form asp-controller="UserAdmin" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="nav-link btn btn-link text-dark">Log off</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="UserAdmin" asp-action="Registration">Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="UserAdmin" asp-action="Login">Login</a>
        </li>
    </ul>
}
