@model Property


<h1>Add a property as Admin</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="PropertyName"></label>
        <input asp-for="PropertyName" class="form-control" type="text" />
        <span asp-validation-for="PropertyName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PropertyAddress"></label>
        <input asp-for="PropertyAddress" class="form-control" type="text" />
        <span asp-validation-for="PropertyAddress" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PropertyBedrooms"></label>
        <input asp-for="PropertyBedrooms" class="form-control" type="number" />
        <span asp-validation-for="PropertyBedrooms" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PropertyBathrooms"></label>
        <input asp-for="PropertyBathrooms" class="form-control" type="number" />
        <span asp-validation-for="PropertyBathrooms" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PropertyPets"></label>
        <input asp-for="PropertyPets" class="form-control" type="number" />
        <span asp-validation-for="PropertyPets" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PropertyGarages"></label>
        <input asp-for="PropertyGarages" class="form-control" type="number" />
        <span asp-validation-for="PropertyGarages" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ExtendedDescription" class="form-label"></label>
        <textarea asp-for="ExtendedDescription" class="form-control" rows="4" type="text"></textarea>
        <span asp-validation-for="ExtendedDescription" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PropertyType" class="form-label"></label>
        <select asp-for="PropertyType" class="form-select">
            <option value="">-- Select Type --</option>
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
            <option value="Flat">Flat</option>
            <option value="Townhouse">Townhouse</option>
            <option value="Studio">Studio</option>
        </select>
        <span asp-validation-for="PropertyType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NearbySchools"></label>
        <input asp-for="NearbySchools" class="form-control" type="text" />
        <span asp-validation-for="NearbySchools" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NearbyShops"></label>
        <input asp-for="NearbyShops" class="form-control" type="text" />
        <span asp-validation-for="NearbyShops" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IsAvailable"></label>
        <input asp-for="IsAvailable" type="checkbox" />
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    @* <div asp-validation-summary="All" class="text-danger"></div> *@
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

