@model Viewing

<h1>Add a Viewing as Admin</h1>

<hr />

@if (!(ViewBag.AvailableUsers ?? false) || !(ViewBag.AvailableProperties ?? false))
{
    <div class="alert alert-danger">
        Please Book a viewing as a user before proceeding.
    </div>
}
else
{
    <form method="post">
        <div class="form-group">
            <label class="control-label">Users</label>
            <select asp-for="UserID" class="form-control" asp-items="@ViewData["UserID"] as SelectList">
                <option>--Select a User--</option>
            </select>
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        <div class="form-group, mb-3">
            <label class="control-label">Properties</label>
            <select asp-for="PropertyID" class="form-control" asp-items="@ViewData["PropertyID"] as SelectList">
                <option>--Select a Property--</option>
            </select>
            <span asp-validation-for="PropertyID" class="text-danger"></span>
        </div>
        <div class="form-group, mb-3">
            <label asp-for="Viewing_TimeDate" class="control-label"></label>
            <input asp-for="Viewing_TimeDate" class="form-control" type="datetime-local" />
            <span asp-validation-for="Viewing_TimeDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}