@model Viewing

<h1>Edit Booking made:</h1>

<hr />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Viewing_ID" />
    <input type="hidden" asp-for="PropertyID" />
    <input type="hidden" asp-for="UserID" />

    <div class="mb-3">
        <label asp-for="Users.First_Name">User who has booked: (Firstname) </label>
        <strong asp-for="First_Name">@Model.Users.First_Name </strong>
    </div>

    <div class="mb-3">
        <label asp-for="Users.Last_Name">User who has booked: (Lastname) </label>
        <strong asp-for="Last_Name">@Model.Users.Last_Name </strong>
    </div>

    <div class="mb-3">
        <label>Property Address:</label>
        <strong asp-for="PropertyName">@Model.Properties?.PropertyName</strong>
    </div>

    <div class="mb-3">
        <label>Property Address:</label>
        <strong asp-for="PropertyAddress">@Model.Properties?.PropertyAddress</strong>
    </div>


    <div class="mb-3">
        <label asp-for="Viewing_TimeDate"></label>
        <input asp-for="Viewing_TimeDate" class="form-control" type="datetime-local" />
        <span asp-validation-for="Viewing_TimeDate" class="text-danger"></span>
    </div>

    <input type="submit" value="Update" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}