@model User_Data

<form method="post">
    <input type="hidden" asp-for="UserID" />
    <div class="mb-3">
        <h1>Specific User Details Below:</h1>
    </div>
    <hr />
    <div class="mb-3">
        <label>User First Name:</label>
        <strong asp-for="First_Name">@Model.First_Name</strong>
    </div>
    <div class="mb-3">
        <label>User Last Name:</label>
        <strong>@Model.Last_Name</strong>
    </div>
    <div class="mb-3">
        <label>User Email:</label>
        <strong>@Model.Email</strong>
    </div>
    <div class="mb-3">
        <label>Username:</label>
        <strong>@Model.UserName</strong>
    </div>

    <input type="submit" value="Delete" class="btn btn-danger mt-3" />
    <a asp-action="Index" class="btn btn-outline-secondary mt-3">Cancel</a>
</form>