@model User_Data

<div class="card border-2 mt-4 mb-3">
    <div class="card-header bg-secondary py-4">
        <div class="row">
            <div class="col text-center">
                <h2 class="py-2">Edit a User as Admin:</h2>
            </div>
        </div>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="UserID" />
    <div class="mb-3">
        <label asp-for="First_Name"></label>
        <input asp-for="First_Name" class="form-control shadow border-3" type="text" />
        <span asp-validation-for="First_Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Last_Name"></label>
        <input asp-for="Last_Name" class="form-control shadow border-3" type="text" />
        <span asp-validation-for="Last_Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control shadow border-3" type="text" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control shadow border-3" type="text" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <input type="submit" value="Update" class="btn btn-primary mt-3" />
    <a asp-action="Index" class="btn btn-outline-secondary mt-3">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}